[submodule "cypress-cucumber-implementation"]
	path = cypress-cucumber-examples-features
	url = git@github.com:shansurana-dev/CypressImplementation.git
[submodule "gherkin-features"]
	path = gherkin-features
	url = git@github.com:shansurana-dev/CypressImplementation.git
